@using Negocio.Persistencia.Modelos
@model DatosPacientes

<div style="margin-bottom:10px">
    <div style="text-decoration:underline">Datos Personales del Paciente</div>
</div>

<div class="row" style="margin:10px">
   
    @* Nombre Paciente *@
    <div class="col-md-3">
        <label class="label">Nombre Paciente: </label>
        <label type="button" class="label">@Model.NombrePaciente</label>
    </div>
    
    @* DNI *@
    <div class="col-md-3">
        <label class="label">DNI: </label>
        <label class="label">@Model.DNI</label>
    </div>

    @* Telefono  *@
    <div class="col-md-3">
        <label class="label">Telefono: </label>
        <label class="label">@Model.Telefono</label>
    </div>

    @* Email *@
    <div class="col-md-3">
        <label class="label">Email: </label>
        <label class="label">@Model.EMail</label>
    </div>

    <div class="col-md-3">
        <label class="label">Fecha Nacimiento: </label>
        <label class="label">@Model.FechaNacimiento</label>
    </div>
    
    <div class="col-md-3">
        <label class="label">Ciudad: </label>
        <label class="label">@Model.Ciudad</label>
    </div>

    <div class="col-md-3">
        <label class="label">Direccion: </label>
        <label class="label">@Model.Direccion</label>
    </div>

    <div class="col-md-3">
        <label class="label">Ciudad: </label>
        <label class="label">@Model.Ciudad</label>
    </div>
</div>

<hr style="color:yellow">

<div class="row" style="margin:10px">
    <div style="margin-bottom:10px">
        <div style="text-decoration:underline">Datos Clinicos del paciente</div>
    </div>

    <div class="col-md-3">
        <label class="label">Nº de Consultas: </label>
        <label class="label">@Model.NumeroConsultas</label>
    </div>

    
    <div class="col-md-3">
        <label class="label">Observaciones: </label>
        <label class="label">@Model.Observaciones</label>
    </div>

        
    <div class="col-md-3">
        <label class="label">F.Primera Cita: </label>
        <label class="label">@Model.FechaPrimeraCita</label>
    </div>

        
    <div class="col-md-3">
        <label class="label">F. Ultima Cita: </label>
        <label class="label">@Model.FechaUltimaCita</label>
    </div>


</div>

<hr style="color:yellow">

@* Acciones *@
<div class="row" style="margin:10px">
    @* Boton para abrir pantalla HistorialPaciente.cshtml *@
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-light" onclick="return jqAbrirHistorialPaciente(@Model.IdPaciente);"><i class="fa fa-history" aria-hidden="true"></i> Historial Clinico</button>
    </div>
    @* Boton para abrir pantalla RadiologiaPaciente.cshtml *@
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-light" onclick="return jqAbrirRadiografiasPaciente(@Model.IdPaciente);"><i class="fa-solid fa-circle-radiation"></i> Ver Radiografias</button>
    </div>

    @* Boton para apertuta modal enviar correo electronico a paciente *@
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-light"><i class="fa fa-paper-plane" aria-hidden="true"></i> Envio Email</button>
    </div>
</div>



