@using Negocio.Persistencia.Modelos
@model List<DatosHistoricoPaciente>

<hr>
<h4 class="text-center"><span class="fa-solid fa-user-injured"></span> Historial de @Model.FirstOrDefault()?.NombrePaciente <span class="fa-solid fa-user-injured"></span></h4>
<hr>

<table class="table table-primary border-1 border-dark">
    <thead>
        <tr>
            <th>IdCita</th>
            <th>Nombre Paciente </th>
      
      
            <th>Fecha Alta</th>
            <th>Nº Consultas</th>
         
           
            <th>Inicio Cita</th>
            <th>Fin Cita</th>
            <th>Observaciones</th>
            <th>Medico</th>
            <th>Clinica</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model)
        {
            <tr>
                <td>@cita.IdCita</td>
                <td>@cita.NombrePaciente</td>
       
                <td>@cita.FechaAlta.ToShortDateString()</td>
                <td>@cita.NumeroConsultas</td>
   
                <td>@cita.FechaInicio.ToShortDateString()</td>
                <td>@cita.FechaFin.ToShortDateString()</td>
  
                <td>@cita.Observaciones</td>
                <td>@cita.NombreMedico</td>
                <td>@cita.NombreClinica</td>
            </tr>
        }
    </tbody>
</table>





<div class="row">

    <div class="col-md-4">

        <button class="btn btn-sm btn-outline-dark" style="margin-left:5px;" id="btnEliminar">
            <span class="fa fa-circle-xmark"> </span>
        </button>







</div>

    <div class="col-md-4">
        <button class="btn btn-sm btn-outline-dark" style="margin-left:5px;" id="btnEliminar">
            <span class="fa fa-circle-xmark"> </span>
        </button>
    
    </div>
    <div class="col-md-4">
        <button class="btn btn-sm btn-outline-dark" style="margin-left:5px;" id="btnEliminar">
            <span class="fa fa-circle-xmark"> </span>
        </button>
    
    
    </div>




</div>








<div style="margin-bottom:15px;">
    <a class="btn btn-secondary" href="/Pacientes/Index">
        ← Volver a Pacientes
    </a>
</div>