@using Negocio.Persistencia.Modelos
@model List<DatosHistoricoPaciente>

<hr>
<h4 class="text-center"><span class="fa-solid fa-user-injured"></span> Historial de @Model.FirstOrDefault()?.NombrePaciente <span class="fa-solid fa-user-injured"></span></h4>
<hr>


@* Acciones *@

    <div class="row">

        <div class="col-md-4">

            <button class="btn btn-sm btn-light" style="margin-left:5px;" id="btnGenerarZip">
                Descargar en Zip
                <span class="fa fa-file-archive"> </span>
            </button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-sm btn-light" style="margin-left:5px;" id="btnGenerarInforme">
                Generar Informe
                <span class="fa fa-file-pdf"> </span>
            </button>
    
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-light" style="margin-left:5px;" id="btnExportarPdf" onclick="jqGenerarZip()">
                Generar en ZIP
                <span class="fa fa-clipboard"> </span>
            </button>


        </div>
    </div>

<table class="table table-hover table-striped table-info border-1 border-dark" id="tablaHistorial">
    <thead>
        <tr>
            <th class="d-none">IdCita</th>
            <th>Nombre Paciente </th>
            <th>Fecha Alta</th>
            <th>Inicio Cita</th>
            <th>Fin Cita</th>
            <th>Observaciones</th>
            <th>Medico</th>
            <th>Clinica</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model)
        {
            <tr>
                <td class="d-none">@cita.IdCita</td>
                <td>@cita.NombrePaciente</td>
                <td>@cita.FechaAlta.ToShortDateString()</td>
                <td>@cita.FechaInicio.ToShortDateString()</td>
                <td>@cita.FechaFin.ToShortDateString()</td>
                <td>@cita.Observaciones</td>
                <td>@cita.NombreMedico</td>
                <td>@cita.NombreClinica</td>
            </tr>
        }
    </tbody>
</table>

<div class="alert alert-secondary mt-3">
    <div class="row text-center">

        <div class="col-md-4">
            <strong>Total citas:</strong>
            @Model.Count()
        </div>

        <div class="col-md-4">
            <strong>Primera cita:</strong>
            @Model.Min(x => x.FechaInicio).ToShortDateString()
        </div>

        <div class="col-md-4">
            <strong>Última cita:</strong>
            @Model.Max(x => x.FechaInicio).ToShortDateString()
        </div>
    </div>
</div>




<a class="btn btn-sm btn-light fa-pull-left" href="/Pacientes/GenerarZipHistorial?idPaciente=@Model.FirstOrDefault()?.IdPaciente">
    Generar en ZIP
    <span class="fa fa-file-archive"></span>
</a>




<div style="margin-bottom:15px;" class="fa-pull-right">
    <a class="btn btn-secondary" href="/Pacientes">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver a Pacientes
    </a>
</div>

<style>



</style>


@section Styles {
    <link href="~/css/HistorialPaciente.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/HistorialPaciente.js" asp-append-version="true"></script>
}