@using Negocio.Persistencia.Modelos
@model List<DatosHistoricoPaciente>




<h3>Historial del Paciente</h3>

<hr />

<p><strong>ID:</strong> @Model.FirstOrDefault()?.IdPaciente</p>
<p><strong>Nombre:</strong> @Model.FirstOrDefault()?.NombrePaciente</p>
<p><strong>DNI:</strong> @Model.FirstOrDefault()?.DNI</p>
<p><strong>Email:</strong> @Model.FirstOrDefault()?.EMail</p>
<p><strong>Teléfono:</strong> @Model.FirstOrDefault()?.Telefono</p>

<hr />



<table class="table">
    <thead>
        <tr>
            <th>IdCita</th>
            <th>Inicio</th>
            <th>Fin</th>
             <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdCita</td>
                <td>@item.FechaInicio</td>
                <td>@item.FechaFin</td>
                <td>@item.NombrePaciente</td>
            </tr>
        }
    </tbody>
</table>


<p style="color:green;">
    ✔ Si ves esto, el routing y el modelo están vivos
</p>


<div style="margin-bottom:15px;">
    <a class="btn btn-secondary" href="/Pacientes/Index">
        ← Volver a Pacientes
    </a>
</div>