@using Negocio.Persistencia.Modelos
@model DatosPacientes

@{
    ViewData["Title"] = "Radiologia - " + Model.NombrePaciente;
}
@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}
@{
    ViewBag.LogoHeader = "blanco.transparente2.png";
}
@{
    ViewBag.Theme = "theme-dark";
}

<hr style="color:white;">
<h4 class="text-center" style="color:white">
    <span class="fa-solid fa-circle-radiation"></span> Radiologia <span class="fa-solid fa-circle-radiation"></span>
</h4>
<hr style="color:white;">

<div class="row control-bar" style="border:1px solid;padding:5px;">

    <div class="col-md-12 control-wrapper">

        <!-- GRUPO 1 -->
        <div class="control-group">
            @* (1)-Aumentar Zoom *@
            <button class="btn btn-light" id="zoomIn" style="border-radius:30px;">
                <i class="fa fa-plus"></i>
            </button>

            @* (1)-Disminuir Zoom *@
            <button class="btn btn-light" id="zoomOut" style="border-radius:30px;width:35px;">
                <i class="fa fa-minus"></i>
            </button>
        </div>

        <!-- GRUPO 2 -->
        <div class="control-group">
            @* (2)-Brillo *@
            <label>Brillo</label>
            <input type="range" id="brightness" min="-500" max="500" value="0">

            @* (2)-Contraste *@
            <label>Contraste</label>
            <input type="range" id="contrast" min="1" max="4000" value="4095">

            @* (2)-Tamaño *@
            <label for="tamanio">Tamaño</label>
            <input type="range" id="tamanio" min="0" max="100" value="50">

            <span id="tamanioValue"></span>
        </div>

        <!-- GRUPO 3 -->
        <div class="control-group">
            <label class="switch">
                <input type="checkbox" id="toggleBtn">
                <span class="slider"></span>
            </label>
            <span id="toggleState">🔒</span>
        </div>

        <!-- GRUPO 4 -->
        <div class="control-group">
            <select id="toolMode" name="toolMode" class="form-select" style="width:200px;">
                <option value="" selected disabled hidden>Selecciona herramienta</option>
                <option value="none">✋ Sin herramienta</option>
                <option value="point">📍 Punto</option>
                <option value="line">📏 Línea</option>
                <option value="rectangle">⬛ Rectángulo</option>
                <option value="circle">⚪ Círculo</option>
            </select>
        </div>

        <!-- GRUPO 5 -->
        <div class="control-group">
            <button class="btn btn-light" id="abrirVisor"
                    style="border-radius:30px;"
                    onclick="abrirVisorFullScreen()">
                <i class="fa fa-maximize"></i> <b>Full Screen</b>
            </button>
        </div>

        <!-- GRUPO 7 -->
        <div class="control-group">
            <button class="btn btn-light" id="reset" style="border-radius:30px;">
                <i class="fa fa-repeat"></i>
            </button>
        </div>

    </div>
</div>

@* ===================== VISOR + 3 COLUMNAS ===================== *@
<div class="row">

    @* TEXTO DE CARGA *@
    <div id="textoVisor"
         style="position:absolute; top:10px; left:0; width:100%; text-align:center; color:white; font-weight:bold;">
    </div>

    @* COLUMNA 1 *@
    <div class="col-md-2" style="padding:5px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);margin-top:20px;border:1px solid white;">


        <div style="padding:15px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);">
            <h3 class="text-center">THUMBNAILS</h3>

            <label><b>Nombre:</b> @Model.NombrePaciente</label><br />
            <label><b>Edad:</b> @Model.NumeroConsultas</label><br />

        </div>

 
            <label>Brillo</label><br/>
        <input type="range" id="brightness" min="-500" max="500" value="0"><br />

        <label>Contraste</label><br />
        <input type="range" id="contrast" min="1" max="4000" value="4095"><br />

        <label for="tamanio">Tamaño</label><br />
            <input type="range" id="tamanio" min="0" max="100" value="50">

        <br />
      



    </div>

    @* COLUMNA 2 *@
    <div class="col-md-8"
         style="padding:5px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);margin-top:20px; display:flex;justify-content:center;">

        <div id="dicomViewer"
             style="width: 100%; height: 562px; border: 1px solid #333;">
        </div>

    </div>

    @* COLUMNA 3 *@
    <div class="col-md-2" style="border:1px solid white;margin-top:20px;">

        <div style="padding:15px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);">
            <h3 class="text-center">DATOS DEL PACIENTE</h3>

            <label><b>Nombre:</b> @Model.NombrePaciente</label><br />
            <label><b>Edad:</b> @Model.NumeroConsultas</label><br />
            <label><b>Observaciones:</b> @Model.Observaciones</label><br />
            <label><b>Ultima Cita:</b> @Model.FechaUltimaCita.ToShortDateString()</label>
        </div>

        <div style="padding:15px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25); margin-top:10px;">

            <label>Seleccione Radiografia</label>
            <select name="ListadoRadiografias"
                    class="form-control form-select"
                    id="listadoRadiografias"
                    style="margin-bottom:5px;">

                <option value="" selected disabled>(Seleccione una opcion)</option>
                <option value="/Media/Radiografias/5.dcm">R-00 (05-09-2026)</option>
                <option value="/Media/Radiografias/6.dcm">R-00 (05-09-2026)</option>
                <option value="/Media/Radiografias/7.dcm">R-01 (17-03-2026)</option>
                <option value="/Media/Radiografias/2.dcm">R-02 (21-03-2026)</option>
                <option value="/Media/Radiografias/3.dcm">R-03 (27-05-2026)</option>
                <option value="/Media/Radiografias/4.dcm">R-04 (05-09-2026)</option>

            </select>

            <label>Seleccione Posicion</label>
            <select name="posicionRadiografias"
                    class="form-control form-select"
                    id="Posicion"
                    style="margin-bottom:5px;">

                <option value="" selected disabled>(Seleccione una opcion)</option>
                <option value="2">Frontal</option>
                <option value="3">Lateral Izquierdo</option>
                <option value="4">Lateral Derecho</option>
                <option value="5">Inferior</option>

            </select>

        </div>

    </div>

</div>

    @* Boton de volver a la pantalla Pacientes *@
    <div style="margin-bottom:15px;margin-top:10px;">
        <a class="btn btn-secondary" href="/Pacientes">
            ← Volver a Pacientes
        </a>
    </div>

</div>

@section Scripts {

    <script src="/dicom/cornerstone.min.js"></script>
    <script src="/dicom/hammer.min.js"></script>
    <script src="/dicom/cornerstoneMath.min.js"></script>
    <script src="/dicom/cornerstoneTools.min.js"></script>
    <script src="/dicom/cornerstoneWADOImageLoader.bundle.min.js"></script>
    <script src="/dicom/dicomParser.min.js"></script>


    <script src="~/js/Radiologia.js" asp-append-version="true"></script>
}

@section Modals {
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="modalRadiografia">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Radiografia
                    </h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>
}


@section Styles {
    <link href="~/css/Radiologia.css" rel="stylesheet" />
}




@* Bloqueo Acciones ??*@
<script>
    const toggle = document.getElementById("toggleBtn");
    const state = document.getElementById("toggleState");

    toggle.addEventListener("change", () => {
    state.textContent = toggle.checked ? "🔓" : "🔒";
    });
</script>

<style>
    
    input#contrast {
    accent-color: #4da3ff;
    }

    input#brightness {
    accent-color: yellow;
    }

    .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    }

    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .3s;
    border-radius: 26px;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .3s;
    border-radius: 50%;
    }

    input:checked + .slider {
    background-color: #4CAF50;
    }

    input:checked + .slider:before {
    transform: translateX(24px);
    }

    .control-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    }

    /* Cada índice = bloque */
    .control-group {
    display: flex;
    align-items: center;
    gap: 8px; /* juntos dentro del grupo */
    }

    /* Esto es lo que reparte el espacio entre grupos */
    .control-group:not(:last-child) {
    margin-right: auto;
    }
</style>
          