@using Epsilon.ViewModels

@model IEnumerable<ViewPacientes>

<table class="table table-dark table-bordered table-hover table-group-divider table-responsive table-sm" id="tablaPacientes">

    <thead>
        @* Cabecera *@
        <tr>
            <th scope="col" class="text-center" width="1%">#</th>
            <th scope="col">PACIENTE</th>
            <th scope="col">DNI</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">CIUDAD</th>
            <th scope="col">ASEGURADO</th>
            <th scope="col">F.ALTA</th>
            <th csope="col">Nº CONSULTAS</th>
            <th scope="col">OPERACIONES</th>
        </tr>
    </thead>

    <tbody id="idBodyTable">

        @if (Model.Count() > 0)
        {
            foreach (var paciente in Model)
            {
                <tr id="idFilaPeriodo_" class="text-center">
                    <td class="text-center">
                        <span class="fa-solid fa-user-injured"></span>
                    </td>
                    <td style="text-align:left"> @paciente.NombrePaciente?.ToString()</td>
                    <td style="text-align:center"> @paciente.DNI?.ToString()</td>
                    <td style="text-align:center"> @paciente.Telefono.ToString()</td>
                    <td style="text-align:left"> @paciente.EMail?.ToString()</td>
                    <td style="text-align:left"> @paciente.Ciudad?.ToString()</td>
                    <td>
                        <input id="checkAsegurado" type="checkbox" @(paciente.Asegurado ? "checked=\" checked\"" : "") disabled />
                    </td>
                    <td style="text-align:center"> @paciente.FechaAlta.ToShortDateString()</td>
                    <td style="text-align:center"> @paciente.NumeroConsultas.ToString()</td>

                    @* OPERACIONES *@
                    <td>
                        <div aria-label="Basic Example">

                            <a class="btn btn-sm btn-outline-light" id="btnEditar" data-id="" onclick="jqGetModalUpdatePaciente(@(paciente.IdPaciente))">
                                <span class="fa fa-pencil"> </span>
                            </a>

                            <button class="btn btn-sm btn-outline-light" style="margin-left:5px;" id="btnEliminar" onclick="jqGetModalDeletePaciente(@paciente.IdPaciente)">
                                <span class="fa fa-circle-xmark"> </span>
                            </button>


                            <button class="btn btn-sm btn-outline-light" style="margin-left:5px;" id="btnEliminar" onclick="jqGetModalAbrirCitacionPaciente(@paciente.IdPaciente)">
                                <i class="fa fa-calendar-plus"></i>
                            </button>


                            <button class="btn btn-sm btn-outline-light" style="margin-left:5px;" id="btnEliminar" onclick="jqGetModalExpandRor(@paciente.IdPaciente)">
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }

        @* SI NO HAY RESULTADOS *@
        else
        {
            <tr>
                <td colspan="7" class="text-center">
                    <span class="text-black-50 m-2">(No hay resultados)</span>
                </td>
            </tr>
        }
    </tbody>
</table>
