
@using Epsilon.ViewModels

@model IEnumerable<ViewPeriodos>

<table class="table" style="border:1px solid gainsboro;">
    <thead>
        <tr>
            <th scope="col" class="text-center" width="1%">#</th>
            <th scope="col">IDPERIODO</th>
            <th scope="col">EJERCICIO</th>
            <th scope="col">ESTIMADO</th>
            <th scope="col">EJECUTADO</th>
            <th scope="col">FECHA</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody id="idBodyTable">
        @if (Model.Count() > 0)
        {
            foreach (var dusu in Model)
            {
                <tr id="idFilaPeriodo_" class="text-center">

                    <td class="text-center">
                        <span class="fa-solid fa-hourglass-half"></span>
                    </td>
                   @*  <td> @dusu.idPeriodo.ToString()</td>
                    <td> @dusu.Ejercicio.ToString()</td>
                    <td> @dusu.Estimado.ToString()</td>
                    <td> @dusu.Ejecutado.ToString()</td>
                    <td> @dusu.FechaCreacion.ToString()</td> *@

                
                    @* Periodos abiertos sin curso (Solo Editar, ELiminar y Copiar)*@
                  @*   @if (DateTime.Now.Year == @dusu.Ejercicio)
                    {
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-sm btn-outline-dark" id="btnEditar" onclick="jQueryModalDeleteGet('PlanificacionPeriodos/ModalModificarPeriodo/@dusu.idPeriodo','Modificar Periodo de Planificacion', 'modificarPeriodo',@dusu.idPeriodo)">
                                    <img id="iconoEditarPeriodo" src="~/media/editarLogo.png" alt="Editar" title="Editar periodo" />
                                </a>

                                <a class="btn btn-sm btn-outline-dark" id="btnEliminar" onclick="jqPostRemovePeriodo('PlanificacionPeriodos/EliminarPeriodo/@dusu.idPeriodo','¿Desea eliminar el Periodo de Planificacion indicado?')">
                                    <img id="iconoEliminarPeriodo" src="~/media/borrarLogo.png" alt="Eliminar" title="Eliminar periodo" />
                                </a>

                            </div>
                        </td> *@
                    @* } *@

                    @* Periodos abiertos con curso (Solo Editar y ELiminar)*@
                    @* else if (DateTime.Now.Year == @dusu.Ejercicio && @dusu.Cursos != 0)
                    { *@
@*                         <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-sm btn-outline-dark" id="btnEditar" onclick="jQueryModalDeleteGet('PlanificacionPeriodos/ModalModificarPeriodo/@dusu.idPeriodo','Modificar Periodo de Planificacion', 'modificarPeriodo',@dusu.idPeriodo)">
                                    <img id="iconoEditarPeriodo" src="~/media/editarLogo.png" alt="Editar" title="Editar periodo" />
                                </a>

                                <a class="btn btn-sm btn-outline-dark" id="btnEliminar" onclick="jqPostRemovePeriodo('PlanificacionPeriodos/EliminarPeriodo/@dusu.idPeriodo','¿Desea eliminar el Periodo de Planificacion indicado?')">
                                    <img id="iconoEliminarPeriodo" src="~/media/borrarLogo.png" alt="Eliminar" title="Eliminar periodo" />
                                </a>
                            </div>
                        </td> *@
                    @* } *@





                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">
                    <span class="text-black-50 m-2">(No hay resultados que mostrar)</span>
                </td>
            </tr>
        }
    </tbody>
</table>