


<h4> Clinicas </h4>


<hr>
<h4><span class="fa-solid fa-user-injured"></span> Pacientes <span class="fa-solid fa-user-injured"></span></h4>
<hr>
<button id="AddUser" type="button" class="btn btn-sm btn-outline-primary fa-pull-right" onclick="return jqGetModalAddPaciente(this)"><span class="fa fa-plus"></span> Nuevo <b>Paciente</b></button>
<button id="ExportarExcel" type="button" class="btn btn-sm btn-outline-dark fa-pull-left" onclick="jqGetModalExportarExcel()"><i class="fa fa-file-import"></i> Importar <b>Pacientes</b></button>
<button id="ExportarExcel" type="button" class="btn btn-sm btn-outline-warning fa-pull-left" onclick="jqGetModalExportarExcel()"><i class="fa fa-envelope"></i> Modificar <b>Pacientes</b></button>
<button id="ExportarExcel" type="button" class="btn btn-sm btn-outline-success fa-pull-right" onclick="jqGetModalExportarExcel()"><i class="fa fa-pen-to-square"></i> Modificar <b>Pacientes</b></button>
<button id="ExportarExcel" type="button" class="btn btn-sm btn-outline-secondary fa-pull-left" onclick="jqGetModalExportarExcel()"><i class="fa fa-envelope"></i> Modificar <b>Pacientes</b></button>
<button id="ExportarExcel" type="button" class="btn btn-sm btn-outline-danger fa-pull-right" onclick="jqGetModalExportarExcel()"><i class="fa fa-pen-to-square"></i> Modificar <b>Pacientes</b></button>
<button id="ExportarExcel" type="button" class="btn btn-sm btn-outline-info fa-pull-right" onclick="jqGetModalExportarExcel()"><i class="fa fa-pen-to-square"></i> Modificar <b>Pacientes</b></button>
<button id="ExportarExcel" type="button" class="btn btn-sm btn-outline-light fa-pull-right" onclick="jqGetModalExportarExcel()"><i class="fa fa-pen-to-square"></i> Modificar <b>Pacientes</b></button>
<br />
<hr>
@* 
<button style="background-color:gainsboro;" class="accordion">Paciente</button>

<div class="panel" style="border-bottom:1px solid gainsboro;border-left:1px solid gainsboro;border-right:1px solid gainsboro;padding:10px;" id="detallePaciente">

    <h6>Datos del Paciente</h6>


    <div class="row">

        <div class="col-sm-3"><b>Nombre</b>@Model.NombrePaciente</div>

        <div class="col-sm-3"><b>DNI</b>@Model.DNI</div>

        <div class="col-sm-3"><b>Telefono</b>@Model.Telefono</div>

        <div class="col-sm-3"><b>E-Mail</b>@Model.EMail</div>

    </div>


    <div class="row">

        <div class="col-sm-3"><b>Fecha Nacimiento</b>@Model.FechaNacimiento</div>

        <div class="col-sm-3"><b>Direccion</b>@Model.Direccion</div>

        <div class="col-sm-3"><b>Ciudad</b>@Model.Ciudad</div>

        <div class="col-sm-3"><b>Direccion</b>@Model.Direccion</div>

    </div>

</div> *@